@CHARSET "UTF-8";

body {
    width: 100%;
    margin: auto;
}

/* container is used to define the header and the content
to be in the center*/
.container {
 	width: 960px;
 	margin: 0 auto;

}

/* simply just make it fixed and expand to 100%*/
header {
	top: 0;
    position: fixed;
    width:100%;
    /*background: #6396bc;*/

    /* background:rgba(0, 0, 0, 0.8); */
    background: #fff;
    color: #333;
}

.logo {
   float: left;
   content:url("../header/images/header_logo.jpg");
   width:500px; /*width of your image*/
   height:80px; /*height of your image*/
}

.nav {
	float: right;
	padding-top: 40px;
}

footer {
		background:#333;
		height: 100px;
		color:#999;
}

p {
	padding-top:80px;
    font-family: verdana;
    font-size: 15px;
}

a {
	text-docoration: none;
	color: #333;
}




body {
    
  }
  
  .main {
    font: 16px / 1 Arial;
    position: relative;
  }
  
  .carousel {
    display: inline-block;
    overflow: hidden;
    outline: 0px;
  }
  .carousel--image {
    border: 1px solid #fff;
    position: relative;
  }
  .carousel--thumbs {
    margin-top: 10px;
    text-align: center;
  }
  .carousel--thumb {
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    height: 120px;
    margin: 0 5px;
    width: 150px;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  .carousel--thumb:hover {
    -webkit-transform: translate(0, -3px);
            transform: translate(0, -3px);
  }
  .carousel--selected {
    border-color: #fff;
  }
  .carousel--arrow-next {
    right: 0;
    top: 0;
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  .carousel--arrow-next:after {
    content: '\203A';
    text-align: right;
  }
  .carousel--arrow-next:hover:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, 0.6)));
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
  }
  .carousel--arrow-previous {
    left: 0;
    top: 0;
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  .carousel--arrow-previous:after {
    content: '\2039';
  }
  .carousel--arrow-previous:hover:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.5)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .carousel--arrow-previous, .carousel--arrow-next {
    color: transparent;
    cursor: pointer;
    height: 100%;
    position: absolute;
    -webkit-transition: color .3s ease-in, -webkit-transform .3s ease-in;
    transition: color .3s ease-in, -webkit-transform .3s ease-in;
    transition: transform .3s ease-in, color .3s ease-in;
    transition: transform .3s ease-in, color .3s ease-in, -webkit-transform .3s ease-in;
    width: 20%;
  }
  .carousel--arrow-previous:hover, .carousel--arrow-next:hover {
    color: #000;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .carousel--arrow-previous:after, .carousel--arrow-next:after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font: bold 60px/100% Arial;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 15px;
  }
  
  .animation--next-enter {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
    -webkit-transition: -webkit-transform 1.5s;
    transition: -webkit-transform 1.5s;
    transition: transform 1.5s;
    transition: transform 1.5s, -webkit-transform 1.5s;
  }
  .animation--next-enter.animation--next-enter-active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .animation--next-leave {
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: -webkit-transform 1.5s;
    transition: -webkit-transform 1.5s;
    transition: transform 1.5s;
    transition: transform 1.5s, -webkit-transform 1.5s;
  }
  .animation--next-leave.animation--next-leave-active {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  .animation--previous-enter {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 1.5s;
    transition: -webkit-transform 1.5s;
    transition: transform 1.5s;
    transition: transform 1.5s, -webkit-transform 1.5s;
  }
  .animation--previous-enter.animation--previous-enter-active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .animation--previous-leave {
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: -webkit-transform 1.5s;
    transition: -webkit-transform 1.5s;
    transition: transform 1.5s;
    transition: transform 1.5s, -webkit-transform 1.5s;
  }
  .animation--previous-leave.animation--previous-leave-active {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
